<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


	  <input type="file" class="file-input"
	         [accept]="requiredFileType"
		        (change)="onFileSelected($event)" #fileUpload>

	  <div class="file-upload">

		     {{fileName || "No file uploaded yet."}}

		         <button mat-mini-fab color="primary" class="upload-btn"
							            (click)="fileUpload.click()">
				         <mat-icon>attach_file</mat-icon>

					     </button>

	  </div>

	  <div class="progress" *ngIf="progress">
		  	<div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
	  </div>

  <app-explore-container name="Tab 1 page">

  </app-explore-container>
</ion-content>
