<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<div>
	  <label>fichier de musique</label>

	  <input type="file" class="file-input" data-attrname="filename"
	         [accept]="requiredFileType"
		         #fileUpload>
</div>
	  <div>
		  <ion-list>
			    <ion-item>
				        <ion-input (input)="setMyValue($event)" labelPlacement="floating" value="" data-attrname="title">
						   <div slot="label">titre <ion-text color="danger">(Required)</ion-text></div>
						         </ion-input>
						          </ion-item>
			    <ion-item>
				        <ion-input (input)="setMyValue($event)" labelPlacement="floating" data-attrname="artist" value="">
						       <div slot="label">artiste <ion-text color="danger">(Required)</ion-text></div>
						           </ion-input>
						             </ion-item>
			    <ion-item>
				        <ion-input (input)="setMyValue($event)" labelPlacement="floating" data-attrname="composer" value="">
						      <div slot="label">compositeur <ion-text color="danger">(Required)</ion-text></div>
						          </ion-input>
							   </ion-item>
							   <ion-item>
								       <ion-textarea aria-label="Comments" value="" data-attrname="description" (input)="setMyValue($event)"></ion-textarea>
						      <div slot="label">description <ion-text color="danger">(Required)</ion-text></div>
								         </ion-item>
		  </ion-list>
	  </div>
	  <div>
	  <label>image</label>
	  <input type="file" class="image-input" data-attrname="image"
	         [accept]="requiredImageType"
		         #imageUpload>
	  </div>
	  <div class="file-upload">

		     {{fileName || "No file uploaded yet."}}

		         <button mat-mini-fab color="primary" class="upload-btn"
							            (click)="fileUpload.click()">
				         <mat-icon>attach_file</mat-icon>

					     </button>

	  </div>

	  <div class="progress" *ngIf="progress">
		  	<div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
	  </div>
	  <ion-button (click)="ajouterunechanson()">cliquez ici</ion-button> 

  <app-explore-container name="Tab 1 page">

  </app-explore-container>
</ion-content>
